.container {
    margin: 20px;
    overflow: auto
}
.thumb {
    float: left
}
.thumb img {
    display: block
}
.content {
    margin-left: 240px
}
.title {
    font-weight: bold;
    font-size: 200%
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}