.container {
    margin: 20px;
    overflow: auto
}
.thumb {
    float: left
}
.thumb img {
    display: block
}
.content {
    margin-left: 240px
}
.title {
    font-weight: bold;
    font-size: 200%;
    color: #42352A
}
html,body {
    background: url('../images/london.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
#shine-logo {
    padding-left: 280px;
    margin-top: -40px;
}